<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mozilla suite" verbose="1" >
<test name="silaye" preserve-order="true" parallel="false">
<classes>

 <class name="silayetest.Registration" /> 
<class name="silayetest.Silaye"></class>
   
   
</classes>
</test>
</suite>

 